{% extends "_layout.html" %}

{% block title %}
  {{current_user.username}} |
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
  Hi {{ current_user.username }}!
  Your email: {{ current_user.email }}
{% endif %}
<img src="{{user.full_image_path}}" />
<a href="{{url_for('users.edit', id = current_user.id)}}">Edit your profile and credentials:</a>
{% for i in current_user.image %}
<img src="{{i.full_image_path}}" />
{% endfor %}
{% endblock %}