{% extends "_layout.html" %}

{% block title %}
  {{user.username}} |
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<header class="d-flex container my-4">
  <img class="border border-light rounded-circle flex-grow-4" height="200px" width="200px" src="{{user.full_image_path}}" />
  <div class="flex-grow-1 py-2 px-4">
    <h2>{{ user.username }}</h2>
    <p>Email: {{ user.email }}</p>
    {% if user.id == current_user.id %}
    <a href="{{url_for('users.edit', id = current_user.id)}}">Edit your profile</a>
    {% endif %}
  </div> 
</header>

<main class="container">
  {% if user.private == False or user.id == current_user.id %}
  <div>
    {% if user.id == current_user.id %}
    <a href="{{url_for('images.new')}}">Add photos</a>
    {% endif %}
  </div>
  <div>
  {% for i in user.image %}
  <img width="33%" src="{{i.full_image_path}}" />
  {% endfor %}    
  </div>
  {% else %}
  <h4>The user's profile is private.</h4>
  {% endif %}
</main>
{% endblock %}