{% extends "_layout.html" %}

{% block title %}
  {{user.username}} |
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<header class="d-flex container my-4">
  <img class="border border-light rounded-circle flex-grow-4" height="200px" width="200px" src="{{user.full_image_path}}" />
  <div class="flex-grow-1 py-2 px-4">
    <h2>{{ user.username }}</h2>
    <p>Email: {{ user.email }}</p>
    <div>
    <a href="{{url_for('users.show_following', id = current_user.id)}}" class="btn btn-link p-0" role="button" aria-pressed="true">Following: {{current_user.my_following_total}}</a>
    <a href="{{url_for('users.show_follower', id = current_user.id)}}" class="btn btn-link p-0" role="button" aria-pressed="true">Follower: {{current_user.my_follower_total}}</a>      
    </div>

    {% if user.id != current_user.id %}    
    <form action="{{url_for('users.toggle_follow', id = user.id)}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="form-check p-0">
        {% if (bool_rel == True) and (rel.pending == False) %}
        <button type="submit" class="btn btn-primary btn-sm">Following</button>
        {% elif (bool_rel == True) and (rel.pending == True) %}
        <button type="submit" class="btn btn-secondary btn-sm">Pending</button>
        {% else %}
        <button type="submit" class="btn btn-outline-primary btn-sm">Follow</button>
        {% endif %}
      </div>
    </form>
    {% endif %}
    {% if user.id == current_user.id %}
    <a href="{{url_for('users.edit', id = current_user.id)}}">Edit your profile</a>
    {% endif %}
  </div> 
</header>

<main class="container">
  {% if (user.private == False) or (user.id == current_user.id) or ((bool_rel == True) and (rel.pending == False)) %}
    <div>
      {% if user.id == current_user.id %}
      <a href="{{url_for('images.new')}}">Add photos</a>
      {% endif %}
    </div>
    <div class="d-flex justify-content-between flex-wrap">
      {% for i in user.image %}
      <div>
        <img id="userImage" src="{{i.full_image_path}}" />
      </div>        
      {% if user.id != current_user.id %}
      <a href="{{url_for('donations.new', id = i.id)}}">Donate to this picture</a>
      {% endif %}
      {% endfor %}    
    </div>
  {% else %}
    <h4>The user's profile is private.</h4>
  {% endif %}
</main>
{% endblock %}