body {
  margin: 0;
  padding-bottom: 15px;
  position: relative;
  min-height: 100vh;
}

footer {
  font-size: 11px;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
  color: #303030;
}

footer a {
  text-decoration: none;
  color: #303030;
}

.carousel-inner>.item {
  -webkit-transition: -webkit-transform 3s ease-in-out !important;
  -o-transition: -o-transform 3s ease-in-out !important;
  transition: transform 3s ease-in-out !important;
}

#carouselWrap{
  overflow: hidden;
  height: calc(100vh - 24px - 56px);
}

#loginSignupWrap{
  height: calc(100vh - 24px - 56px);
  z-index: 10;
  background-color: rgba(255,255,255,0.5);
}

#userImage{
  object-fit: cover;
  width: 300px;
  height: 300px;
}