<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

    {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "home_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block header %}
    {% endblock %}

    <title>
      {% block title %}
      {% endblock %}NEXTAGRAM
    </title>

  </head>
  <body>
    <!-- Modal -->
    <div class="modal fade" id="followerRequest" tabindex="-1" role="dialog" aria-labelledby="followerRequestLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="followerRequestlLabel">Pending Follower Requests</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="list-group">
              {% if current_user.id: %}
              {% for u in current_user.pending_follower() %}
              <li class="list-group-item d-flex">
                <div class="w-25">
                  <img class="img-fluid rounded" src="{{u.following.full_image_path}}"/>
                </div>
                <div class="pl-1">
                  <div class="p-1">
                    <a class="text-primary" style="font-size: 1.2em;" href="{{url_for('users.show', username = u.following.username)}}">{{u.following.username}}</a>
                  </div>
                  <div class="p-1 d-flex">
                    <form class="mr-1" action="{{url_for('users.approve', id = u.following.id)}}" method="POST">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                      <input type="hidden" name="approval" value="approve">
                      <div class="form-check p-0">
                        <button type="submit" class="btn btn-outline-success btn-sm">Approve</button>
                      </div>
                    </form>
                    <form class="mr-1" action="{{url_for('users.approve', id = u.following.id)}}" method="POST">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                      <input type="hidden" name="approval" value="reject">
                      <div class="form-check p-0">
                        <button type="submit" class="btn btn-outline-danger btn-sm">Reject</button>
                      </div>
                    </form>               
                  </div>
                </div>                
              </li>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Nextagram</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>        
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('users.show', username = current_user.username)}}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#followerRequest">Follower Requests</a>
          </li>          
          {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-primary" href="#">Users</a>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item">
          <form action="{{url_for('sessions.destroy')}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="submit" class="nav-link btn text-primary bg-transparent" value="Logout">
          </form>            
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link text-primary" href="{{ url_for('sessions.new')}}">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="{{ url_for('users.new')}}">Sign Up</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <!-- flash message -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-primary" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}     
     
    <footer>
      Made with &hearts; at <a target="_blank" href="https://www.nextacademy.com/?utm_source=github&utm_medium=student-challenge&utm_campaign=flask-nextagram">NEXT Academy</a>
    </footer>
  </body>
</html>
